<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="contanier">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="nameId">이름</label>
            <input type="text" id="nameId" name="name" placeholder="이름을 입력하시오">
        </div>
        <div class="form-group">
            <label for="ageId">나이</label>
            <input type="number" id="ageId" name="age" placeholder="나이를 입력하시오">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>